<h1>Listing kaisekis</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Kiji</th>
      <th>Slot name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kaisekis.each do |kaiseki| %>
      <tr>
        <td><%= kaiseki.title %></td>
        <td><%= kaiseki.kiji %></td>
        <td><%= kaiseki.slot_name %></td>
        <td><%= link_to 'Show', kaiseki %></td>
        <td><%= link_to 'Edit', edit_kaiseki_path(kaiseki) %></td>
        <td><%= link_to 'Destroy', kaiseki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kaiseki', new_kaiseki_path %>
