<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @kaiseki.title %>
</p>

<p>
  <strong>Kiji:</strong>
  <%= @kaiseki.kiji %>
</p>

<p>
  <strong>Slot name:</strong>
  <%= @kaiseki.slot_name %>
</p>

<%= link_to 'Edit', edit_kaiseki_path(@kaiseki) %> |
<%= link_to 'Back', kaisekis_path %>
