<h1>Listing kijis</h1>

<table>
  <thead>
    <tr>
      <th>Slot name</th>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kijis.each do |kiji| %>
      <tr>
        <td><%= kiji.slot_name %></td>
        <td><%= kiji.title %></td>
        <td><%= kiji.body %></td>
        <td><%= link_to 'Show', kiji %></td>
        <td><%= link_to 'Edit', edit_kiji_path(kiji) %></td>
        <td><%= link_to 'Destroy', kiji, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kiji', new_kiji_path %>
